// COLORS
// Format: $hue-name. See https://www.color-blindness.com/color-name-hue/ for reference
$black:rgb(0, 0, 0); // #000000;
$blue-madison: rgb(44, 62, 80); // #2c3e50;
$gray-silver: rgb(191, 191, 191); // #bfbfbf;
$green-medium-sea: rgb(65, 184, 131); // #41b883
$white-gainsboro: rgb(230, 230, 230); // #e6e6e6;
$white:rgb(255, 255, 255); // #ffffff;
